<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Pcs</title>
</head>
<body>
    <h1>Lista de Pc</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Color</th>
            <th>Serial</th>
            <th>Usuario</th>
        </tr>
        {% for pc in data %}
            <tr>
                <td>{{ pc.idPc }}</td>
                <td>{{ pc.marcaPc }}</td>
                <td>{{ pc.colorPc }}</td>
                <td>{{ pc.serialPc }}</td>
                <td>{{ pc.idUsu }}</td>
                <td>
                    <a href="{{ url_for('pc.edit', id=pc.idPc) }}">Editar</a>
                    <a href="{{ url_for('pc.delete', id=pc.idPc) }}">Eliminar</a>
                    
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('pc.add') }}">Agregar</a>
    <a href="{{ url_for('registro.index') }}">Ver Registros</a>
    <a href="{{ url_for('usuario.index') }}">Ver Usuarios</a>
    
</body>
</html>