<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administrador</title>
</head>

<body>
    
    <a href="{{ url_for('administrador.index') }}">Administradores</a>
    <a href="{{ url_for('celador.index') }}">Celadores</a>
    <a href="{{ url_for('pc.index') }}">Pc</a>
    <a href="{{ url_for('registro.index') }}">Registros</a>
    <a href="{{ url_for('usuario.index') }}">Usuarios</a>
</body>
</html>