<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Administrador</title>
</head>
<body>
    <h1>Editar Administrador</h1>
    <form action="{{ url_for('administrador.edit', id=administrador.idAdm) }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombreAdm" value="{{ administrador.nombreAdm }}" required>
        <label for="tipoDoc">Tipo Documeto:</label>
        <input type="text" id="tipoDoc" name="tipoDocAdm" value="{{ administrador.tipoDocAdm }}" required>
        <label for="noDoc">Numero Documeto:</label>
        <input type="number" id="noDoc" name="noDocAdm" value="{{ administrador.noDocAdm }}" required>
        <label for="cel">Celular:</label>
        <input type="number" id="cel" name="celAdm" value="{{ administrador.celAdm }}" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="emailAdm" value="{{ administrador.emailAdm }}" required>
        <label for="con">Contraseña:</label>
        <input type="password" id="con" name="conAdm" value="{{ administrador.conAdm }}" required>
        <button type="submit">Actualizar Informacion</button>
    </form>
</body>
</html>